
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Alce Nero - Sostenibilità al cuore delle nostre azioni*/
h1 {
    background-color:darkgreen; /* Colore sfondo titolo */
    color: white; /* Colore testo */
    padding: 20px 20px; /* Dimensione del verde intorno al testo */
    text-align: center; /* Allineamento del testo al centro */
    font-family: "Verdana"; /* Carattere del testo */

}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*  Chi Alce Nero?*/
h3 {
    color: black; /* colore del testo */
    text-align: center; /* testo allineato al centro */
    font-family: "Verdana"; /* Carattere del testo */
}  
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Sezione Introduzione */
.Introduzione {
    text-align: center; /* Allineamento del testo al centro */
    line-height: 1.8; /* spazio tra una riga e l'altra */
    color: #333; /* Colore dei testi  */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
h2 { /* Punti base di Alce Nero per la Sostenibilità */
    background-color:darkgreen; /* Colore sfondo titolo */
    color: white; /* Colore testo */
    padding: 10px 10px; /* dimensioni della parte verde che circonda il testo */
    text-align: center; /* testo allineato al centro */
    font-family: "Verdana"; /* Carattere del testo */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Tutto quello che comprende la seconda sezione riguardante "I punti base di Alce Nero per la sostenibilità" */

.contenitorefilierabiologica {
    max-width: 1400px; /* Larghezza del contenitore */
    border: 1px solid rgb(225, 221, 221); /* Colore contorno del contenitore */
    border-radius: 10px; /* Quanto il contenitore deve essere arrotondato */
    text-align: center; /* Allineamento dei testi al centro */
    transition: transform 0.5s, box-shadow 0.5s; /* Velocità dell'animazione */
    margin-left: 10px; /* Allineamento del contenitore a destra */
    margin-right: auto; /* Allineamento del contenitore a destra */
}   

.contenitoretracciabilità {
    max-width: 1400px; /* Larghezza del contenitore */
    border: 1px solid rgb(225, 221, 221); /* Colore contorno del contenitore */
    border-radius: 10px; /* Quanto il contenitore deve essere arrotondato */
    text-align: center; /* Allineamento dei testi al centro */
    transition: transform 0.5s, box-shadow 0.5s; /* Velocità dell'animazione */
    margin-left: auto; /* Allineamento del contenitore a destra */
    margin-right: auto; /* Allineamento del contenitore a destra */
}

.contenitoreresponsabilità {
    max-width: 1400px; /* Larghezza del contenitore */
    border: 1px solid rgb(225, 221, 221); /* Colore contorno del contenitore */
    border-radius: 10px; /* Quanto il contenitore deve essere arrotondato */
    text-align: center; /* Allineamento dei testi al centro */
    transition: transform 0.5s, box-shadow 0.5s; /* Velocità dell'animazione */
    margin-left: auto; /* Allineamento del contenitore a sinistra */
    margin-right: auto; /* Allineamento del contenitore a sinistra */
}
.contenitoreapproccio {
    max-width: 1400px; /* Larghezza del contenitore */
    border: 1px solid rgb(225, 221, 221); /* Colore contorno del contenitore */
    border-radius: 10px; /* Quanto il contenitore deve essere arrotondato */
    text-align: center; /* Allineamento dei testi al centro */
    transition: transform 0.5s, box-shadow 0.5s; /* Velocità dell'animazione */
    margin-left: auto; /* Allineamento del contenitore a destra */
    margin-right: auto; /* Allineamento del contenitore a destra */
}
.contenitoreesg {
    max-width: 1400px; /* Larghezza del contenitore */
    border: 1px solid rgb(225, 221, 221); /* Colore contorno del contenitore */
    border-radius: 10px; /* Quanto il contenitore deve essere arrotondato */
    text-align: center; /* Allineamento dei testi al centro */
    transition: transform 0.5s, box-shadow 0.5s; /* Velocità dell'animazione */
    margin-left: auto; /* Allineamento del contenitore a sinistra */
    margin-right: auto; /* Allineamento del contenitore a sinistra */
}

.contenitorewelfare {
    max-width: 1400px; /* Larghezza del contenitore */
    border: 1px solid rgb(225, 221, 221); /* Colore contorno del contenitore */
    border-radius: 10px; /* Quanto il contenitore deve essere arrotondato */
    text-align: center; /* Allineamento dei testi al centro */
    transition: transform 0.5s, box-shadow 0.5s; /* Velocità dell'animazione */
    margin-left: auto; /* Allineamento del contenitore a sinistra */
    margin-right: auto; /* Allineamento del contenitore a sinistra */
}

/* modifiche al passaggio del mouse */
.contenitorefilierabiologica:hover {  /* effetto al passaggio del mouse */
    transform: translateX(5px); /* traslo al passaggio con il mouse, X e Y per i pixel che si vuole */
    box-shadow: 2px 2px 10px 10px darkgreen; /* colore dell'ombra al passaggio */
}
.contenitoretracciabilità:hover {  /* effetto al passaggio del mouse */
    transform: translateX(5px); /* traslo al passaggio con il mouse, X e Y per i pixel che si vuole */
    box-shadow: 2px 2px 10px 10px darkgreen; /* colore dell'ombra al passaggio */
}
.contenitoreresponsabilità:hover {  /* effetto al passaggio del mouse */
    transform: translateX(5px); /* traslo al passaggio con il mouse, X e Y per i pixel che si vuole */
    box-shadow: 2px 2px 10px 10px darkgreen; /* colore dell'ombra al passaggio */
}
.contenitoreapproccio:hover {  /* effetto al passaggio del mouse */
    transform: translateX(5px); /* traslo al passaggio con il mouse, X e Y per i pixel che si vuole */
    box-shadow: 2px 2px 10px 10px darkgreen; /* colore dell'ombra al passaggio */
}
.contenitoreesg:hover {  /* effetto al passaggio del mouse */
    transform: translateX(5px); /* traslo al passaggio con il mouse, X e Y per i pixel che si vuole */
    box-shadow: 2px 2px 10px 10px darkgreen; /* colore dell'ombra al passaggio */
}
.contenitorewelfare:hover {  /* effetto al passaggio del mouse */
    transform: translateX(5px); /* traslo al passaggio con il mouse, X e Y per i pixel che si vuole */
    box-shadow: 2px 2px 10px 10px darkgreen; /* colore dell'ombra al passaggio */
}

/*modifiche icona */
.contenitorefilierabiologica icona {  /* icone nei contenitori */
    font-size: 3em; /* Dimensione dell'icona */
    color: green; /* Colore dell'icona */
    padding: 20px; /* Spazio tra la parte superiore e l'icona */
}
.contenitoretracciabilità icona {  /* icone nei contenitori */
    font-size: 3em; /* Dimensione dell'icona */
    color: darkgreen; /* Colore dell'icona */
    padding: 20px; /* Spazio tra la parte superiore e l'icona */
}
.contenitoreresponsabilità icona {  /* icone nei contenitori */
    font-size: 3em; /* Dimensione dell'icona */
    color: darkgreen; /* Colore dell'icona */
    padding: 20px; /* Spazio tra la parte superiore e l'icona */
}
.contenitoreapproccio icona {  /* icone nei contenitori */
    font-size: 3em; /* Dimensione dell'icona */
    color: darkgreen; /* Colore dell'icona */
    padding: 20px; /* Spazio tra la parte superiore e l'icona */
}
.contenitoreesg icona {  /* icone nei contenitori */
    font-size: 3em; /* Dimensione dell'icona */
    color: darkgreen; /* Colore dell'icona */
    padding: 20px; /* Spazio tra la parte superiore e l'icona */
}
.contenitorewelfare icona {  /* icone nei contenitori */
    font-size: 3em; /* Dimensione dell'icona */
    color: darkgreen; /* Colore dell'icona */
    padding: 20px; /* Spazio tra la parte superiore e l'icona */
}

/* modifiche colore testo h3 */
.contenitorefilierabiologica h3 { 
    color: orangered;/* colore del titolo dentro i contenitori */
    font-family: "Verdana"; /* Carattere del testo */
}
.contenitoretracciabilità h3 { 
    color: orangered; /* colore del titolo dentro i contenitori */
    font-family: "Verdana"; /* Carattere del testo */
}
.contenitoreresponsabilità h3 { 
    color: orangered; /* colore del titolo dentro i contenitori */
    font-family: "Verdana"; /* Carattere del testo */
}
.contenitoreapproccio h3 {
    color: orangered; /* colore del titolo dentro i contenitori */
    font-family: "Verdana"; /* Carattere del testo */
}
.contenitoreesg h3 { 
    color: orangered; /* colore del titolo dentro i contenitori */
    font-family: "Verdana"; /* Carattere del testo */
}
.contenitorewelfare h3 {
    color: orangered; /* colore del titolo dentro i contenitori */
    font-family: "Verdana"; /* Carattere del testo */
}

/* modifiche paragrafo dentro il contenitore */
.contenitorefilierabiologica p { 
    color: #333; /* Colore del paragrafo sotto il titolo nel contenitore */ 
    font-family: 'Verdana'; /* Carattere del testo */
}
.contenitoretracciabilità p { 
    color: #333; /* Colore del paragrafo sotto il titolo nel contenitore */
    font-family: 'Verdana'; /* Carattere del testo */
}
.contenitoreresponsabilità p { 
    color: #333; /* Colore del paragrafo sotto il titolo nel contenitore */
    font-family: 'Verdana'; /* Carattere del testo */
}
.contenitoreapproccio p { 
    color: #333; /* Colore del paragrafo sotto il titolo nel contenitore */
    font-family: 'Verdana'; /* Carattere del testo */
}
.contenitoreesg p { 
    color: #333; /* Colore del paragrafo sotto il titolo nel contenitore */
    font-family: 'Verdana'; /* Carattere del testo */
}
.contenitorewelfare p { 
    color: #333; /* Colore del paragrafo sotto il titolo nel contenitore */
    font-family: 'Verdana'; /* Carattere del testo */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Immagine della pagina web */
.Immagine {
height:350px;  /* Larghezza immagine */
width:350px;  /* Lunghezza immagine */
display:block;  /* Elemento trasformato in un blocco */
margin: auto; /* Calcolo automatico dei margini destro e sinistro centrando l'immagine */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* tutti i paragrafi singoli <p> */
p {
    text-align: center; /* testo allineato al centro */ 
    font-family: "Verdana"; /* Carattere del testo */
    color: #333; /* Colore del testo */
} 
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Sezione link esterni */
.link-esterni {
    display:flex; /* Trasformazione di un elemento in un contenitore flessibile, allineando automaticamente i link in una riga orizzontale */
    justify-content: center; /* Allineamento del contenitore al centro */
    gap: 12rem; /* Spazio tra i link delle aziende */
}

.pulsante {
    color:white; /* Colore del testo */
    padding: 10px 20px; /* Dimensioni del pulsante arrotondato */
    text-decoration: none; /* Fa in modo che non venga sottolineato il testo */ 
    border-radius: 40px; /* Quanto il pulsante è arrotondato */
    font-size: 1.2em; /* Dimensione del pulsante */
    transition: background-color 1s, transform 0.2s; /* Effetti transitivi */
    font-family: "Verdana"; /* Carattere del testo */
}

a { 
    background-color: green; /* Colore sfondo link */
}

a:hover {
    transform: translateY(-2px); /* Traslazione sull'asse y verso l'alto */
    background-color: orangered; /* Colore al passaggio del mouse */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Sezione Download */
.download {
    display:flex; /* Trasformazione di un elemento in un contenitore flessibile, allineando automaticamente i link in una riga orizzontale */
    justify-content: center; /* Allineamento del contenitore al centro */
    gap:4em; /* Spazio tra i link */
}

.download-button {
    color: white;
    padding: 15px 30px; /* Dimensioni del pulsante arrotondato */
    border-radius: 40px; /* Pulsante arrotondato */
    text-decoration: none; /* Fa in modo che non venga sottolineato il testo */ 
    transition: background-color 1s, transform 0.2s; /* Effetti transitivi */
    font-size: 1.2em; /* Dimensione del pulsante */
    font-family: "Verdana"; /* Carattere del testo */
}

a { 
    background-color: green; /* Colore sfondo link */
}

.download-button:hover {
    background-color: orangered; /* Colore al passaggio del mouse */
    transform: translateY(-2px); /* Traslazione sull'asse y verso l'alto */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Copyright */
footer {
    color: black; /* Colore del testo */
    text-align: center; /* Testo allineato al centro */
}

.icone {
    color: darkgreen; /* Colore icone */
    text-align: center; /* Icone allineate al centro */
    font-size: 3em; /* Dimensione delle icone */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/





/* Sezioni contenitore */
section {
    background-color: white; /* Colore dello sfondo di tutta la sezione */
   }
